{{!--
Create a menu from a list of links
@author zkreations
@param {array} links - Array of links
@param {string} [prefix="__"] - Prefix for filter links
@param {string} [id] - Id for the menu
@param {string} [class] - Class for the menu
@param {String} [itemClass] - Base class for the items (li)
@param {String} [subnavClass] - Class for the nested submenus (ul)
@param {String} [linkClass] - Base class for the anchors (a)
@param {String} [hereClass] - State class when the link matches the current URL
@param {String} [externalClass] - State class for external references
--}}
<b:includable id='@menu'>
  <b:with value='data:prefix ?: "__"' var='prefix'>
    <b:if cond='data:links[0].title contains data:prefix'>
      <b:comment render='true'>The first element can't have the prefix</b:comment>
    <b:elseif cond='data:links any (l => l.title + 0 == l.title)'/>
      <b:comment render='true'>The element can't be a number</b:comment>
    <b:elseif cond='!data:links.any'/>
      <b:comment render='true'>The array can't be empty</b:comment>
    <b:else/>
      <ul class='nav'>
        <b:class cond='data:class' expr:name='data:class'/>
        <b:attr name='id' expr:value='data:id'/>
        <b:loop index='i' values='data:links' var='link'>
          {{!-- Check if the current or the next element contains the prefix --}}
          <b:with value='{
            current: (data:link.title contains data:prefix),
            next: (data:links[data:i + 1].title contains data:prefix)
          }' var='state'>
            {{!-- Check if the menu has started or ended --}}
            <b:with value='{
              start: (data:state.next and !data:state.current),
              end: (!data:state.next and data:state.current)
            }' var='menu'>
              <b:eval expr='"&lt;li class=\"nav-item " + (data:menu.start ? "has-subnav " : "") + data:itemClass + "\">"'/>
              <a class='nav-link' expr:href='data:link.href'>
                <b:class cond='data:linkClass' expr:name='data:linkClass'/>
                {{!-- If the link is the current page or matches the canonical URL --}}
                <b:if cond='data:link.isCurrentPage or data:view.url.canonical == data:link.href'>
                  <b:class name='is-here'/>
                  <b:class cond='data:hereClass' expr:name='data:hereClass'/>
                </b:if>
                {{!-- If the link is an external link --}}
                <b:if cond='data:link.href contains "?ref="'>
                  <b:class name='is-external'/>
                  <b:class cond='data:externalClass' expr:name='data:externalClass'/>
                  <b:attr name='target' value='_blank'/>
                  <b:attr name='rel' value='noopener noreferrer'/>
                </b:if>
                <data:link.title/>
              </a>
              <b:eval expr='data:menu.end ? "&lt;/li>&lt;/ul>" : ""'/>
              <b:eval expr='data:menu.start ? "&lt;ul class=\"nav-subnav " + data:subnavClass + " \">" : "&lt;/li>"'/>
            </b:with>
          </b:with>
        </b:loop>
      </ul>
    </b:if>
  </b:with>
</b:includable>
